node_modules/
.next/
out/
build/
coverage/
*.log
*.env*
.DS_Store
*.tsbuildinfo
.pnp*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.vercel
next-env.d.ts
frontend/node_modules/
frontend/.next/
